# Sorting in a nutshell

This is based heavily on the Python Wiki HowTo on Sorting.
There is additional explanatory material to be found there, as well as several other examples.
https://wiki.python.org/moin/HowTo/Sorting
The source material and this material are distributed under a GPL license.

In [1]:
ages = [33, 32, 35, 31, 29, 42]
sorted(ages)

[29, 31, 32, 33, 35, 42]

In [2]:
ages                      # the list is not changed

[33, 32, 35, 31, 29, 42]

In [3]:
ages.sort()               # lists have a method, called L.sort()
                          # the list is changed in place
                          # returns None

In [4]:
ages

[29, 31, 32, 33, 35, 42]

In [6]:
greek = {1: 'Alpha',
         4: 'Delta',
         3: 'Gamma',
         2: 'Bravo',
         5: 'Epsilon'}

sorted(greek)             # Any iterable can be sorted
                          # in this case, the dictionary is
                          # sorted by key

[1, 2, 3, 4, 5]

# The key to real magic

In [10]:
letters = ['E', 'A', 'C', 'b', 'd']

sorted(letters)

['A', 'C', 'E', 'b', 'd']

In [11]:
sorted(letters, key=str.upper)

['A', 'b', 'C', 'd', 'E']

In [76]:
heroes = [('batman', 'bruce',  'wayne', 1972),
          ('wonder woman', 'diana', 'prince', 1974), 
          ('martian manhunter', 'john', 'jones', 1972),
          ('hellblazer', 'john', 'constantine', 1975)]

In [77]:
sorted(heroes)

[('batman', 'bruce', 'wayne', 1972),
 ('hellblazer', 'john', 'constantine', 1975),
 ('martian manhunter', 'john', 'jones', 1972),
 ('wonder woman', 'diana', 'prince', 1974)]

In [78]:
# any function can be used as the key
# provided it takes a single argument
# AND
# it returns a key that can be used for sorting purposes

def fname(hero):
    return hero[1]

sorted(heroes, key=fname)

# Stable sort

[('batman', 'bruce', 'wayne', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('martian manhunter', 'john', 'jones', 1972),
 ('hellblazer', 'john', 'constantine', 1975)]

In [79]:
# lambdas are great for use in this case

sorted(heroes, key=lambda hero: hero[1])

[('batman', 'bruce', 'wayne', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('martian manhunter', 'john', 'jones', 1972),
 ('hellblazer', 'john', 'constantine', 1975)]

In [80]:
class Hero:
    def __init__(self, name, fname, lname, birthyear):
        self.name = name
        self.fname = fname
        self.lname = lname
        self.birthyear = birthyear
    def __repr__(self):
        return repr((self.name, self.fname, self.lname, self.birthyear))
    def age(self):
        current_year = 2017
        return current_year - self.birthyear

In [81]:
h = Hero('batman', 'bruce', 'wayne', 1972)
h

('batman', 'bruce', 'wayne', 1972)

In [82]:
h.age()

45

In [83]:
hero_classes = [Hero('batman', 'bruce',  'wayne', 1972),
                Hero('wonder woman', 'diana', 'prince', 1974), 
                Hero('martian manhunter', 'john', 'jones', 1972),
                Hero('hellblazer', 'john', 'constantine', 1975)]

In [84]:
sorted(hero_classes, key=lambda hero: hero.birthyear)

[('batman', 'bruce', 'wayne', 1972),
 ('martian manhunter', 'john', 'jones', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('hellblazer', 'john', 'constantine', 1975)]

In [86]:
from operator import itemgetter

# for this case, we will re-use the heroes list that 
# contained tuples to sort by the elements with index
# one in each tuple, in this case, the heroes' real name

sorted(heroes, key=itemgetter(1))

[('batman', 'bruce', 'wayne', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('martian manhunter', 'john', 'jones', 1972),
 ('hellblazer', 'john', 'constantine', 1975)]

In [87]:
from operator import attrgetter

sorted(hero_classes, key=attrgetter('birthyear'))

[('batman', 'bruce', 'wayne', 1972),
 ('martian manhunter', 'john', 'jones', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('hellblazer', 'john', 'constantine', 1975)]

In [88]:
sorted(heroes, key=itemgetter(1, 2))

[('batman', 'bruce', 'wayne', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('hellblazer', 'john', 'constantine', 1975),
 ('martian manhunter', 'john', 'jones', 1972)]

In [89]:
sorted(heroes, key=itemgetter(1, 3))

[('batman', 'bruce', 'wayne', 1972),
 ('wonder woman', 'diana', 'prince', 1974),
 ('martian manhunter', 'john', 'jones', 1972),
 ('hellblazer', 'john', 'constantine', 1975)]

In [94]:
sorted(hero_classes, key=attrgetter('birthyear', 'lname'), reverse=True)

[('hellblazer', 'john', 'constantine', 1975),
 ('wonder woman', 'diana', 'prince', 1974),
 ('batman', 'bruce', 'wayne', 1972),
 ('martian manhunter', 'john', 'jones', 1972)]

In [96]:
from operator import methodcaller

sorted(hero_classes, key=methodcaller('age'))

[('hellblazer', 'john', 'constantine', 1975),
 ('wonder woman', 'diana', 'prince', 1974),
 ('batman', 'bruce', 'wayne', 1972),
 ('martian manhunter', 'john', 'jones', 1972)]

In [103]:
heroes_by_age = sorted(hero_classes, key=attrgetter('fname'), reverse=True)
# heroes_by_age = sorted(hero_classes, key=methodcaller('age'))
# this is an ascending sort, by default

In [104]:
sorted(heroes_by_age, key=methodcaller('age'))

[('hellblazer', 'john', 'constantine', 1975),
 ('wonder woman', 'diana', 'prince', 1974),
 ('martian manhunter', 'john', 'jones', 1972),
 ('batman', 'bruce', 'wayne', 1972)]

In [108]:
hero_names = ['batman', 'martian manhunter', 'wonder woman', 'hellblazer']

vacationdays = {'batman': 25,
                'martian manhunter': 15,
                'wonder woman': 9,
                'hellblazer': 65}

In [110]:
sorted(hero_names, key=vacationdays.__getitem__, reverse=True)

['hellblazer', 'batman', 'martian manhunter', 'wonder woman']